
/* ========================================================================
	 Interface
 ========================================================================== */

 @keyframes shadow {
	from {box-shadow: 0 0 20px #330000;}
	to {box-shadow: 0 0 30px 5px #aa0000;}
}

	.cont_center {
		transition: all 0.2s;
		position: absolute;
		z-index: 150;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -55%);
		background: linear-gradient(0deg, rgba(5,5,5,0.95), rgba(15,15,15,0.95) 75%, rgba(25,25,25,0.95));
		box-shadow: 0 2px 8px #000, inset 0 1px 1px rgba(255, 255, 255, 0.1);
		border-radius: 20px;
		padding: 10px;
		text-align: center;

		.links {
			position: absolute;
			bottom: -100px;
			left: 0;
			right: 0;
		}

		p {
			color: #33afd8;
			max-width: 600px;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 10px;
			&.grey {
				color: #ddd !important;
			}
			&.small {
				font-size: 12px;
			}
		}

		a {
			color: #92e1e2;
		}

		dt {
			text-align: right;
			color: #ccc;
		}
		dd {
			text-align: left;
			color: #33afd8;
		}

		p a,
		input {
			position: relative;
			z-index: 50;
			margin: 0 auto;
		}

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: 20px;
			border-style: solid;
			border-width: 2px 0;
			border-color: #60d0ff;
			box-shadow: 0 -10px 10px -7px rgba(41, 138, 199, 0.23), 0 10px 10px -7px rgba(41, 138, 199, 0.23), inset 0 -10px 10px -7px rgba(41, 138, 199, 0.23), inset 0 10px 10px -7px rgba(41, 138, 199, 0.23);
		}
	
		.top_message {
			font-size: 10px;
			position: absolute;
			width: 100%;
			top: -20px;
			left: 0;
			text-align: center;
			color: #aafffa;
			font-weight: bold;
			text-shadow: 0 0 10px rgba(41,112,255, 1);
			text-transform: uppercase;
		}

		&.red {
			.top_message {
				color: #ffaaaa;
				text-shadow: 0 0 10px rgba(255,41,41, 1);
			}
			p {
				color: #bd5656;
			}
			&:before {
				border-color: #ff6060;
				box-shadow: 0 -10px 10px -7px rgba(199, 41, 41, 0.23), 0 10px 10px -7px rgba(199, 41, 41, 0.23), inset 0 -10px 10px -7px rgba(199, 41, 41, 0.23), inset 0 10px 10px -7px rgba(199, 41, 41, 0.23);
			}
		}
		&.green {
			.top_message {
				color: #b2ffaa;
				text-shadow: 0 0 10px rgba(106,255,41, 0.7);
			}
			p {
				color: #86bd56;
			}
			&:before {
				border-color: #7aff60;
				box-shadow: 0 -10px 10px -7px rgba(101, 199, 41, 0.23), 0 10px 10px -7px rgba(101, 199, 41, 0.23), inset 0 -10px 10px -7px rgba(101, 199, 41, 0.23), inset 0 10px 10px -7px rgba(101, 199, 41, 0.23);
			}
		}

	}

	.z40 {
		z-index: 40;
	}

	.buttons {
		clear: both;
		margin: -10px 0 10px;
		display: flex;
		justify-content: center;

		button, 
		.button {
			margin: 10px 14px 0;
		}
	}

	button,
	.button {
		transition: all 0.2s;
		position: relative;
		display: inline-block;
		cursor: pointer;
		font-size: 11px;
		border: none;
		height: 32px;
		color: #ddd;
		line-height: 32px;
		letter-spacing: 0.07em;
		text-decoration: none;
		background: linear-gradient(#222, #000);
		padding: 0 20px;
		border-radius: 4px;
		border: 1px solid #990000;
		animation: shadow 1s linear infinite alternate;
		&.break {
			display: block;
			margin: 0 auto;
		}

		* {
			pointer-events: none;
		}
		
		&.disabled {
			opacity: 0.6;
			cursor: auto;
		}

		&:not(.disabled) {
			&:hover {
				animation: none;
				border-color: #dd0000;
				box-shadow: 0 0 30px 5px #dd0000;
			}
		}

	}

	.hex-button {
		width: 62px;
		height: 52px;
		background: url(../images/hex-normal.png) no-repeat top center;
		padding: 0 8px;
		line-height: 52px;
		cursor: pointer;
		&.selected,
		&:hover {
			background: url(../images/hex-active.png) no-repeat top center;
		}
	}


	.button-small {
		display: inline-block;
		font-size: 12px;
		text-decoration: underline;
		line-height: 2;
		margin: 14px auto 0;
		cursor: pointer;
	}

	.player {
		position: absolute;
		bottom: -58px;
		left: 0;
		width: 100%;
		height: 40px;
		line-height: 1.5;
		text-align: center;
		font-size: 14px;
		color: #aaa;
		b {
			color: #33afd8;	
		}
	}

	.red {
		.player b {
			color: #ffaaaa;
		}
	}
	.green {
		.player b {
			color: #b2ffaa;
		}
	}

	.stars_text {
		width: 190px;
		text-align: left;
		margin-left: auto;
		margin-right: auto;
		.stars {
			display: inline-block;
			width: 50px;
		}
		.text {
			display: inline-block;
			font-weight: normal;
			width: 140px;
			text-align: center;
		}
	}

	.stats {
		margin-bottom: 20px;
		th,
		td {
			font-size: 14px;
			padding: 12px 24px;
			text-align: left;
			line-height: 1;
			color: #eee;
		}

		th {
			font-weight: bold;
		}

		tr {
			td {
				background: #0a0a0a;
			}
			&:nth-child(even) {
				td {
					background: #111;
				}
			}
			&.highlight {
				td {
					animation: flashing_bg 1.5s linear infinite alternate;
				}
			}
		}
	}

	@keyframes flashing_bg {
	    from { background: rgba(20,0,0,0.7); }
	    to { background: rgba(70,0,0,0.7); }
	}


	.loader {
	    position: relative;
	    margin: 0 auto;
		width: 50px;
	    height: 50px;
		border-radius: 50%;
	    border: 3px solid rgba(255,255,255,0.1);
	    border-left: 3px solid rgba(255,255,255,0.3);
	    transform: translateZ(0);
	    animation: load8 1.1s infinite linear;
	}
	@keyframes load8 {
	    0% {
	        transform: rotate(0deg);
	    }
	    100% {
	        transform: rotate(360deg);
	    }
	}
